@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

svg {
    display: block; 
    width: 101%
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-image: url(img/portada2.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding: 25px 0;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -1px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #56626f;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover {
    background-color: #333436;
    color: #fff;
}

.titulo {
    font-size: 25px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #56626f;
    text-shadow: 
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000; 
}

.titulo p {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-shadow: 
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000; 
}

header div a {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: #333436;
    border-radius: 8px;
    color: #fff;
}

/* seccion ¿Que hacemos? */
section{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    font-size: 20px;
}

section h2 {
    color: #56626f;
}

.seccion1 {
    margin-top:-1px;
    width: 100%;
    height: auto;
    text-align: center;
}

.seccion1 p {
    width: 70%;
}

span {
    color: #56626f;
    font-weight: 600;
}

/* seccion ¿Quienes somos? */
.nosotros {
    padding-top: 30px;
    width: 100%;
    height: auto;
    text-align: center;
}

.nosotros p {
    width: 70%;
}

/* Img Nosotros */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    max-width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    box-sizing: border-box;
}


.card:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    cursor: pointer;
}


/* Contacto */

/* Footer */
.div-footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    margin-top: -1px;
    display: flex;
    background: #000;
    color: #fff;
    padding: 0;
    text-align: center;
}

footer p {
    font-weight: 600;
    font-size: 30px;
    color: #56626f;
}

footer img {
    width: auto;
    height: 40px;
    padding: 10px;
}

footer img:hover {
    height: 45px;
    padding: 5px;
}

footer a {
    text-decoration: none;
}

/* Media Queries (diseño responsive) */
@media screen and (max-width:800px) {

    nav a {
        margin: 0 .5em;
        padding: 0;
    }

    .card {
        width: 70%;
    }
}